body {
    background-color:midnightblue;
    .header {
    overflow: scroll;
    background-color: magenta;
    padding: 30px 10px;
    }

    h1 {
       font-family: 'Sixtyfour Convergence', Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        font-size: 100px;
        font-style: normal;
        text-align: center;
    }
   
    }

    /* Style the header links */
    .header a {
    float: none;
    color: silver;
    text-align: center;
    text-decoration: double;
    padding: 15px;
    font-size: 16px;
    line-height: 25x;
    border-radius: 8px;
    }

    /* Style the logo link */
    .header a.name {
    font-size: 25px;
    font-weight: bold;
    }

    /* Change the background color on mouse-over */
    .header a:hover {
    background-color: gold;
    color: grey;
    }

    /* Style the active link*/
    .header a.active {
    background-color: cadetblue;
    color: white;
    }

    /* Float the link section to the right */
    .header-right {
    float:right;
    }

    /* Add media queries for responsiveness */
    @media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: flexbox;
        text-align: right;
    }
    .header-right {
    float: none;
    }


    
}

